.grid-container {
    background-color: whitesmoke;
    padding: 10px;
  }
  .grid-item {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .p1{
    color: black;
    font-size: 40px;
    margin-top: 10px;
  }
  .head{
    margin-top: 100px;
  }
  .p2{
    margin-left: 300px;
  }
  .p3{
    margin-left: 600px;
    font-size: 50px;
    color: red;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .p4{
    margin-left: 300px;
    font-size: 40px;
    color: black ;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .p5{
    margin-left: 700px;
    font-size: 40px;
    color: red;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .p6{
    margin-left: 300px;
    font-size: 40px;
    color: red;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .p7{
    margin-left: 600px;
    font-size: 40px;
    color: red;
    margin-top: 10px;
    margin-bottom: 20px;
  }