.header {
    height: 120px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 1530px;
  }
  
  .header__logo {
    width: 100px;
    margin: 0 20px;
    margin-top: 20px;
    margin-left: 70px;
  }
  
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
 
  
  
  .header__optionLineOne {
    font-size: 17px;
    font-weight: 1500
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  
  .p2{
    color: rgb(234, 202, 41);
    margin-left: 0px;
  }
  
  .header__option1 {
    display: flex;
    flex-direction: column;
    color: darkgoldenrod;
    margin-left: 600px;
    margin-right: 50px;
  }
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    color: darkgoldenrod;
  }
  .cad{
    color: red;
    margin-left: 15px;
    margin-top: auto;
  }
  .care1{
    margin-top: 20px;
  }
  .care2{
    margin-top: 20px;
  }