
.img1{
    display: flex;
  height: 500px;
  width: 500px;
  margin-left: 90px;
  }
  
  .img2{
    border-radius: 8px ;
    margin-left: 150px;
    height:300px ;
    
  }
  .img3{
    width: 1520px;
  }
  .n1{
    margin-left: 100px;
    font-size: 30px;
  }
  .p1{
    margin-left: 300px;
    margin-top: 90px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .name{
    margin-left: 200px;
    color: rgb(164, 132, 72);
  }
  .butt{
    height: 70px;
    width: 300px;
    color: white;
    background-color: rgb(148, 121, 31);
    border: 10%;
  }
  .pri{
    color: black;
    margin-top: 150px;
    font-size: 30px;
    
  }
  .im1{
    margin-top: 90px;
  }
  .c1{
    margin-left: 400px;
    font-size: 50px;
    color: rgb(206, 145, 31);
  }